.buscador {

  .filtros {
    #mostrarFiltros {
      text-decoration: underline;
      color: $color-link;
      cursor: pointer;
    }
    #panelFiltros {
      display: none;
    }
  }
  .panel{
    padding: 0.5em;
    margin-top: 0.5em;
  }
  .listado {
    #calculoForm {
      a {
        text-decoration: underline;
        color: $color-link;
      }
      span {
        font-weight: bold;
        display: inline-block;
      }
      .indicador label {
        font-weight: normal;
        display: block;
        padding-left: 1em;
        text-indent: -1em;
      }
      .atributos{
        padding-left: 25px;
        span:nth-child(2){
          font-weight: normal;
        }
      }
    }
  }
}