.calcular {
  #calcularForm {

    .titulo {
      font-weight: bold;
    }

  }
}
.marcas{
  text-align: left;
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  .listado{
    position: absolute;
    z-index: 10;
    min-width: 100%;
    margin: 0px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    display: none;
    text-align: left;
    padding-left: 5px;
    width: max-content;
    height: 11em;
    overflow-y: scroll;
    padding-top: 0.5rem;
    padding-right: 1rem;


  }
  .fecha{
    margin-left: 5px;
    font-size: 0.8em !important;
  }
  input{
    margin-right:5px;
  }
}
.marcas-select {
  position: relative;
  float: left;
  margin-bottom: 0;
  margin-right: 0;
  width: 100%;
}
.expand{
  background-color: #ffffff;
  padding: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
  &:after {
    content: '▼';
  }
  &.span-select:after{
    position: absolute;
    right: 10px;
    scale: 0.8;
    color: gray;
  }
}
.span-select {
  background-color: #ffffff;
  padding: 8px;
  border: 1px solid #cacaca;
  cursor: pointer;
  display: flex;
  position: relative;
  height: 39px;
}

.indicadorRow {
  border: 1px solid #e6e6e6;
  margin: 1rem;
  padding: 1rem;
}

.descargarBoton {
  margin-top: 1rem;
}