.indicador {
  .titulo {
    font-weight: bold;
  }

  .contenido {
    font-weight: bold;
    display: inline-block;
    width: 175px;
  }

  table {
    width: 100%;
    font-size: 12px !important;
  }

  .formula-descripcion {
    margin: 5px 0 0 20px;

    .contenido {
      font-weight: normal;
    }

    .descripcion {
      padding-left: 20px;
    }
  }

  .bloque-descargar {
    display: flex;
    gap: 2em;
    justify-content: end;
    align-items: baseline;
    font-size: 0.9em;
  }
}