.panel {
  .panel-indicador_titulo {
    background-color: gray;
    padding: 1rem;
    color: white;
  }
  .seccion {
    .indicador:not(:last-child) {
      margin-bottom: 20px;
      border-bottom: 1px solid hsla(0, 0%, 4%, .25);
    }
  }
}