@import 'config';

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?57658879');
  src: url('../font/fontello.eot?57658879#iefix') format('embedded-opentype'),
  url('../font/fontello.woff2?57658879') format('woff2'),
  url('../font/fontello.woff?57658879') format('woff'),
  url('../font/fontello.ttf?57658879') format('truetype'),
  url('../font/fontello.svg?57658879#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?57658879#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-download:before {
  content: '\e800';
}

.ind {
  main {
    min-height: 300px;
  }
  .formula a {
    text-decoration: underline;
    color: #0156aa
  }

  .loading {
    z-index: 99999;
    display: block;
    opacity: 0.8;
  }

  #spinner {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 999;
    display: none;
  }

  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }



  .grafico {
    //min-width: 300px;
    //max-width: 800px;
    //height: 450px;
    margin: 0em auto;
  }

  .modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.7);
  }

  .modal .grafico {
    width: 90%;
    height: 90%;
  }

  .modal .highcharts-container {
    width: 100%;
    height: 100%;
    top: 20px !important;
  }

  .modal .grafico > svg {
    width: 100%;
    height: 100%;
  }

  .no-calculado {
    color: $color-error;
  }

  .button-mostrar-datos{
    margin-top: 25px;
    @media only screen and (max-width: 64em) {
      margin-top: 0px;
    }
  }

  // estilos de la página principal
  @import 'buscador';
  @import 'indicadores';
  @import 'indicador';
  @import 'calcular';
  @import 'paneles';
}