@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?57658879");
  src: url("../font/fontello.eot?57658879#iefix") format("embedded-opentype"), url("../font/fontello.woff2?57658879") format("woff2"), url("../font/fontello.woff?57658879") format("woff"), url("../font/fontello.ttf?57658879") format("truetype"), url("../font/fontello.svg?57658879#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?57658879#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-download:before {
  content: '\e800';
}

.ind main {
  min-height: 300px;
}
.ind .formula a {
  text-decoration: underline;
  color: #0156aa;
}
.ind .loading {
  z-index: 99999;
  display: block;
  opacity: 0.8;
}
.ind #spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 999;
  display: none;
}
.ind .spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ind .grafico {
  margin: 0em auto;
}
.ind .modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
}
.ind .modal .grafico {
  width: 90%;
  height: 90%;
}
.ind .modal .highcharts-container {
  width: 100%;
  height: 100%;
  top: 20px !important;
}
.ind .modal .grafico > svg {
  width: 100%;
  height: 100%;
}
.ind .no-calculado {
  color: #FF0000;
}
.ind .button-mostrar-datos {
  margin-top: 25px;
}
@media only screen and (max-width: 64em) {
  .ind .button-mostrar-datos {
    margin-top: 0px;
  }
}
.ind .buscador .filtros #mostrarFiltros {
  text-decoration: underline;
  color: #0156aa;
  cursor: pointer;
}
.ind .buscador .filtros #panelFiltros {
  display: none;
}
.ind .buscador .panel {
  padding: 0.5em;
  margin-top: 0.5em;
}
.ind .buscador .listado #calculoForm a {
  text-decoration: underline;
  color: #0156aa;
}
.ind .buscador .listado #calculoForm span {
  font-weight: bold;
  display: inline-block;
}
.ind .buscador .listado #calculoForm .indicador label {
  font-weight: normal;
  display: block;
  padding-left: 1em;
  text-indent: -1em;
}
.ind .buscador .listado #calculoForm .atributos {
  padding-left: 25px;
}
.ind .buscador .listado #calculoForm .atributos span:nth-child(2) {
  font-weight: normal;
}
.ind #calcularIndicadoresForm .titulo {
  font-weight: bold;
}
.ind #calcularIndicadoresForm table {
  width: 100%;
  font-size: 12px !important;
}
.ind .indicador .titulo {
  font-weight: bold;
}
.ind .indicador .contenido {
  font-weight: bold;
  display: inline-block;
  width: 175px;
}
.ind .indicador table {
  width: 100%;
  font-size: 12px !important;
}
.ind .indicador .formula-descripcion {
  margin: 5px 0 0 20px;
}
.ind .indicador .formula-descripcion .contenido {
  font-weight: normal;
}
.ind .indicador .formula-descripcion .descripcion {
  padding-left: 20px;
}
.ind .indicador .bloque-descargar {
  display: flex;
  gap: 2em;
  justify-content: end;
  align-items: baseline;
  font-size: 0.9em;
}
.ind .calcular #calcularForm .titulo {
  font-weight: bold;
}
.ind .marcas {
  text-align: left;
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}
.ind .marcas .listado {
  position: absolute;
  z-index: 10;
  min-width: 100%;
  margin: 0px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  display: none;
  text-align: left;
  padding-left: 5px;
  width: max-content;
  height: 11em;
  overflow-y: scroll;
  padding-top: 0.5rem;
  padding-right: 1rem;
}
.ind .marcas .fecha {
  margin-left: 5px;
  font-size: 0.8em !important;
}
.ind .marcas input {
  margin-right: 5px;
}
.ind .marcas-select {
  position: relative;
  float: left;
  margin-bottom: 0;
  margin-right: 0;
  width: 100%;
}
.ind .expand {
  background-color: #ffffff;
  padding: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
}
.ind .expand:after {
  content: '▼';
}
.ind .expand.span-select:after {
  position: absolute;
  right: 10px;
  scale: 0.8;
  color: gray;
}
.ind .span-select {
  background-color: #ffffff;
  padding: 8px;
  border: 1px solid #cacaca;
  cursor: pointer;
  display: flex;
  position: relative;
  height: 39px;
}
.ind .indicadorRow {
  border: 1px solid #e6e6e6;
  margin: 1rem;
  padding: 1rem;
}
.ind .descargarBoton {
  margin-top: 1rem;
}
.ind .panel .panel-indicador_titulo {
  background-color: gray;
  padding: 1rem;
  color: white;
}
.ind .panel .seccion .indicador:not(:last-child) {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(10, 10, 10, 0.25);
}

/*# sourceMappingURL=ind.css.map */
